body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("../images/bg-courier.jpg") no-repeat center center/cover;
    color: #fff;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

main {
    flex: 1 0 auto;
    position: relative;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    padding: 100px 20px;
    animation: fadeIn 2s ease-in-out;
}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    animation: slideInDown 1s ease-in-out;
}

.hero-section p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 40px;
    animation: slideInUp 1s ease-in-out;
}

.hero-section .btn {
    margin: 0 10px;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #f0e68c, #bdb76b);
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hero-section .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.brand-logo:hover {
    color: #ffebcd
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes slideInUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.sidenav {
    background: rgba(0, 0, 0, 0.5);
}

.sidenav a {
    color: #fff !important;
}